/* .tasksDayMode{
  position: relative;
  top: -40px;
  width: 100%;
  max-width: 706px;
  margin: 0 auto;
  background-color: hsl(0, 0%, 98%);
  border-radius: 8px;
} */

.tasks {
  position: relative;
  top: -40px;
  width: 100%;
  max-width: 706px;
  margin: 0 auto;
  background-color: #333333;
  border-radius: 8px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.footer>div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer p {
  color: #696969;
  font-size: 14px;
}

.textPurple {
  color: #8284FA !important;
}

.footer span {
  background: #333333;
  color: #696969;
  padding: 3px 9px;
  border-radius: 999px;
  font-size: 12px;
  font-weight: 700;
}

.list {
  display: flex;
  flex-direction: column;
}

.clearButton {
  background-color: transparent;
  border: none;
  color: #F2F2F2;
  cursor: pointer;
}

.fillterButton {
  background-color: transparent;
  border: none;
  color: #696969;
  cursor: pointer;
}

.fillterButton:hover {
  color: #F2F2F2;
  font-weight: 700;
}

.fillterButton:focus,
.fillterButton.active {
  color: #8284FA;
  font-weight: 700;
}
.filterButtons{
  display: none;
}

@media only screen and (max-width: 425px) {
  .tasks {
    width: 93%;
  }

  footer .filterButtons {
    display: none;
  }

  .filterButtons {
    display: flex;
    width: 93%;
    margin: 0 auto;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    background: #333333;
    border-radius: 8px;
  }
}